/node_modules
/public/hot
/public/img
/public/storage
/storage/*.key
/vendor
/vendor/outoload
/vendor/bin
/vendor/composer
/vendor/filp

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
